@model BDA.ViewModel.UMAViewModel

<div id="CreateGroupBtn" class="wizard text-center" style="display:none">
    <button id="btnDraft" data-target="#save-modal" class="btn btn-secondary ripple" data-toggle="modal">Save as Draft</button>
    <button id="btnCreate" href="#" data-target="#confirmation-create-modal" class="btn btn-success" data-toggle="modal">Submit</button>
</div>

<div id="ProcessGroupBtn" class="wizard text-center" style="display:none">
    <button id="btnSaveProcess" data-target="#save-modal" class="btn btn-secondary ripple" data-toggle="modal">Save</button>
    <button id="btnProcess" href="#" data-target="#confirmation-process-modal" class="btn btn-success" data-toggle="modal">Process</button>
</div>

<div id="ReceiveGroupBtn" class="wizard text-center" style="display:none">
    <button id="btnReceive" href="#" data-target="#confirmation-receive-modal" class="btn btn-success" data-toggle="modal">Receive</button>
</div>

<div id="ConfirmGroupBtn" class="wizard text-center" style="display:none">
    <button id="btnCompleteConfirm" href="#" data-target="#confirmation-complete-modal" class="btn btn-success" data-toggle="modal">Complete</button>
</div>

@Html.HiddenFor(x => x.Status)
@Html.HiddenFor(x => x.Id)