@model BDA.ViewModel.UMAViewModel

<div id="pnl_main_form" class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            <div class="padding-left-20 padding-right-20">
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Received Date<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        @Html.TextBoxFor(x => x.ReceivedDate, new { @class = "form-control", type = "date", required = "required" })
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Bank Statement<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-4">
                                        <div class="file-upload">
                                            @Html.TextBoxFor(m => m.BankStatementVM.File, new { type = "file", name = "BankStatement" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>