@model BDA.ViewModel.UMAViewModel

<div class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-header bordered no-actions d-flex align-items-center">
                            <h4>Documents</h4>
                        </div>
                        <div class="widget-body">
                            <table class="table table-bordered mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 25%;">Document</th>
                                        <th style="width: 75%;">File</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Scanned Bank Draft</td>
                                        <td>
                                            <div class="file-upload before-submit">
                                                @Html.TextBoxFor(m => m.ScannedBankDraftVM.File, new { type = "file", name = "ScannedBankDraft" })
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Scanned Memo</td>
                                        <td>
                                            <div class="file-upload before-submit">
                                                @Html.TextBoxFor(m => m.ScannedMemoVM.File, new { type = "file", name = "ScannedMemo" })
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>