@model BDA.ViewModel.UMAViewModel

<div id="pnl_main_form" class="widget-body">
    <div class="padding-left-20 padding-right-20">
        <div class="row flex-row">
            <div class="col-xl-12 col-md-12">
                <div class="table-responsive">
                    <div class="widget has-shadow">
                        <div class="widget-body">
                            <div class="padding-left-20 padding-right-20">
                                <div class="form-group row">
                                    <div class="col-sm-2 form-control-label d-flex align-items-center">Ins. Letter Ref No<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-5">
                                        <div class="input-group">
                                            @Html.TextBoxFor(x => x.InstructionLetterRefNo, new { @class = "form-control", placeholder = "Insert Letter Reference No", @readonly = "readonly", required = "required" })
                                            <span class="input-group-btn before-process">
                                                <input id="btnNewLetter" type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2 processed" title="Create" value="Create New Letter">
                                                <input id="btnViewLetter" type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2 processed" style="display:none" title="View" value="View">
                                                <input id="btnEditLetter" type="button" class="btn btn-outline-primary btn-sm mr-1 mb-2 processed" style="display:none" value="Edit" title="Edit">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 form-control-label d-flex">Signed Letter<span class="text-danger ml-2">*</span></div>
                                    <div class="col-xl-3">
                                        <div class="file-upload">
                                            @Html.TextBoxFor(m => m.SignedLetterVM.File, new { type = "file", name = "SignedLetter" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>