<div id="stsCreated" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Request Created! </strong>This UMA request is created</span>
</div>
<div id="stsProcessed" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Request Submitted to Bank! </strong>This application has been submitted to bank.</span>
</div>
<div id="stsSubmitted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Request Submitted! </strong>This application is submitted.</span>
</div>
<div id="stsSubmittedToANM" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Request Submitted to ANM! </strong>This application has been submitted to ANM.</span>
</div>
<div id="stsReceived" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>Payment Received! </strong>Incoming payment has been confirmed.</span>
</div>
<div id="stsCompleted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Request Completed! </strong>This application is completed.</span>
</div>
<div id="stsWithdrawn" class="alert alert-outline-danger" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Request Withdrawn! </strong>This application is waiting re-submission.</span>
</div>
<div id="stsRejected" class="alert alert-outline-danger" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Request Rejected! </strong>This application is waiting re-submission.</span>
</div>