<div id="stsCreated" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Created!</strong> This UMA request is created</span>
</div>
<div id="stsProcessed" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Processed!</strong> This application is processed.</span>
</div>
<div id="stsSubmitted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Submitted!</strong> This application is submitted.</span>
</div>
<div id="stsReceived" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Received!</strong> Payment received.</span>
</div>
<div id="stsCompleted" class="alert alert-outline-primary" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    <span class=""><strong>UMA Completed!</strong> This application is completed.</span>
</div>