@{
    ViewData["Title"] = "UMA Request List";
    var reqUMA = User.HasClaim("_permission", "RequestUMA");
}

@section Styles {
    <style>
        .btn-create {
            background-color: #5d5386;
            color: white;
        }

            .btn-create:hover {
                background-color: #4a4274;
                color: white;
            }
    </style>
}

<div class="content-inner active">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">UMA Request Management</h2>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Create New Button -->
        <div class="row flex-row">
            <div class="col-xl-3 col-md-6 col-sm-6">
                <a id="btnCreateUMA" href="/UMA/Create" class="btn btn-create">Create New UMA Request</a>
            </div>
        </div>
        <br />

        <!-- Rest of the existing content -->
        <div class="row flex-row">
            <div class="col-xl-12">
                <div class="widget-body sliding-tabs">
                    <ul class="nav nav-tabs form-tab" id="ul-form-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="base-tab-1" data-toggle="tab" href="#tab-1" role="tab">In Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="base-tab-2" data-toggle="tab" href="#tab-2" role="tab">Completed</a>
                        </li>
                    </ul>
                    <!-- Your existing table content here -->
                </div>
            </div>
        </div>
    </div>
</div>